version             = "0.0.1"
hostname            = "testing.local"
root_pass           = "password"
cpus                = "4"
memory              = "4096"
iso                 = "https://download.rockylinux.org/pub/rocky/8/isos/x86_64/Rocky-8.5-x86_64-minimal.iso"
iso_checksum        = "4eb2ae6b06876205f2209e4504110fe4115b37540c21ecfbbc0ebc11084cb779"
ansible_playbook    = "packer/ansible/playbook.yml"
ansible_roles       = "packer/ansible/requirements.yml" # Delete if you don't want to add roles